body {
    font-family: "TT Lakes";
    background-color: #F8F8F8;
    margin: 0;
    overflow-x: hidden;
}

.header {
    background-color: white;
}

.header__list {
    display: flex;
    justify-content: left;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 17px;
    margin-top: 0;

    overflow-x: auto;

    /* background-color: white; */
    scrollbar-width: none;
    
}

.header__list::-webkit-scrollbar {
    display: none;
} 


.header__item {
    min-width: 40px;
} 

.header__item, .header__logo {
    list-style-type: none;
}

.header__logo {
    margin-top: 13px;
}


.header__img {
    margin-top: 13px;
    height: 40px;
    width: 40px;
}

li.header__logo {
    margin-right: auto;
    padding-right: 20px;
    vertical-align: top;
    
}

.header__item {
    margin-right: 16px;
    margin-top: 6px;
}


.header__link {
    text-decoration: none;
    display: flex;

}


.header__item--with-text{
    min-width: auto;
}

.header__link-text {

    margin-top: 19px; 
    margin-right: 5px;

    font-size: 16px;
    font-weight: 500;
    font-family: "TT Lakes";
    
    line-height: 24px;
    color: #1B1C21;
    
    width: 130px;

    display: none;

}

.header__item--with_border{
    min-width: 62px;
    margin-right: 20px;
}


.header__item--with_border::after {
    padding-right: 16.875px;
    content: "";
    display: inline-block;
    height: 32px;
    border-right: 2px solid #bdbab2;
    margin-bottom: 4px;

}


.menu__item {
    height: 40px;
    background-color: #F8F8F8;
    color: #7E7E82;
    font-size: 16px;
    font-family: "TT Lakes";
    border: 0px solid;
    padding: 0;

    padding-left: 12px;
    padding-right: 12px;
}

.menu__item:focus {
    border: 2px solid #B8FFEC;
    background-color: white;
}

.title {
    /* border-left: 4px solid #41F6D7;
    padding-left: 20px; */
    height: 40px;
    font-size: 28px;
    min-width: 250px;

}

.title--with-blue-border {
    border-left: 4px solid #41F6D7;
    padding-left: 20px;
}



.menu {
    display: flex;
    justify-content: left;
    overflow-x: auto;
    margin-left: 24px;
    scrollbar-width: none;
}

.content__p-text {
    padding: 0;
    margin: 0;
}

.menu::-webkit-scrollbar {
    display: none;
} 

.content {
    padding-top: 32px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.content__section {
    display: flex;
    flex-flow: column;
    margin-left: 24px;
    margin-right: 0;
}

.content__button {

    margin-left: 10px;
    border: 0px solid #B8FFEC;
    font-size: 16px;
    font-family: "TT Lakes";
    padding: 0;
    font-weight: 500;
    min-width: 132px;
    height: 24px;
    border: 0px;
    color: #1B1C21;
    text-align: left;
    
    order: 2;
    margin-top: 10px;
    margin-bottom: 16px;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content__text-button {
    margin-top: 2px;
}

.content__img-button {
    padding: 0;
    margin: 0;
}

.content__text {
    max-height: 90px;
    overflow: hidden;
    
}

 .content__button:focus ~ .content__text {
    overflow: visible;
    max-height:fit-content;
}

.content__logo { 
    margin: 0;

    margin-left: auto;
    margin-right: auto;

    border-radius: 3%;

    height: 176px;
    width: 320px;
    /* width: 320px; */
}

.menu__item {
    margin-right: 10px;
}





.sidebar {
    width: 320px;
    height: 100%;
    height: 1024px;
    max-height: 1024px;
    /* box-shadow: -2px 0 4px 0  rgba(69, 79, 126, 0.02); */
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    /* justify-content:start; */
    /* align-items: flex-start; */
    /* width: 100%; */

    /* flex-shrink: 0; */
}

.sidebar__header {
    width: 100%;
    /* background-color: transparent; */
    background-color: #F8F8F8;
    margin-bottom: 32px;
}

/* .sidebar__list {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    flex-direction: row;
} */

.sidebar__menu-item {
    font-size: 16px;
    padding-bottom: 32px;
    font-weight: 500;
    color: rgba(27, 28, 33, 1);
    text-decoration: none;
    margin-left: 24px;

}

.sidebar__menu-item:hover {
    opacity: 0.6;
    /* background-color: white; */
}

.sidebar__menu {
    padding: 0;
    margin: 0;
    /* margin-left: 24px; */
    list-style-type: none;
    /* margin-bottom: auto; */

    
}

.sidebar__title  {
    /* color: rgba(126, 126, 130, 1);
    margin-bottom: 32px;
    margin-top: 16px; */ 
}

.sidebar__menu-link {
    color: rgba(27, 28, 33, 1);
    text-decoration: none;
}

.sidebar__menu-link--active {
    color: rgba(126, 126, 130, 1);
    border-left: 4px solid #41F6D7;
    padding-left: 20px;
    
}

.sidebar__menu-item--active {
    margin-left: 0;
}



.sidebar__footer {
    display: flex;
    flex-direction: row;
 
    flex-wrap: wrap;

    list-style-type: none;

    padding: 0;

    padding-left: 24px;

    /* margin-top: 100px; */
    margin-top: auto;

    width: 220px;
    
}

.sidebar__footer-item {
    padding-right: 16px;
    padding-bottom: 16px;
}


.sidebar__footer-phone {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 40px;
}


.sidebar__footer-mail {
    font-size: 16px;
    font-weight: 550;
}

input[type=radio] {
    /* opacity: 0; */
    display: none;
    /* visibility: hidden; */
    /* position: absolute;
    z-index: -1; */
    /* width: 0px; */
    
}

input[type=radio]:checked ~ label {
    color: rgba(126, 126, 130, 1);
    
}

.sidebar__language-item {
    color: rgba(27, 28, 33, 1);
    font-size: 16px;
    font-weight: 500;
    padding-right: 7px;
}




@media(min-width: 564px) {
    .content__text {
        /* max-height: 90px; */
        max-height: 160px;
    }
    .content__logo {
         /* height: 176px;
         width: 320px;  */
         width: auto;
    }
    .content {
        /* flex-direction: column; */
        flex-direction: row;
    }
    .content__section {
        /* margin-right: 0; */
        margin-right: 20px;
    }
    .header__list {
        /* padding-left: 16px; */
        padding-left: 24px;
    }
}


@media(min-width: 768px) {
    .content__logo {
        height: 307px;
    }
    .header__item--with-text {
        min-width: 175px;
    }
    .header__item, .header__logo {
        display: none;
    }
    .sidebar .header__item,.sidebar .header__logo {
        display: inline;
    }
    .header__item--with-text {
        display: inline;
    }
    .header__list  {
        justify-content: right;
        /* margin-right: 17px; */
        background-color: #F8F8F8;
    }
    .header__link-text {
        display: inline;
    }
    /* .header__link-text {
        display: inline;
    } */
    .menu {
        overflow-x: none;
        /* justify-content:space-between; */
        flex-wrap: wrap;
        /* margin-right: 24px;
        margin-left: 33px; */
    }
    .title {
        position: absolute;
        margin: 0;
        top: 32px;
        /* padding-left: 29px; */
    }
    .content__section {
        /* margin-left: 33px; */
    }
    .content {
        /* margin-right: 33px; */
    }
}


@media(max-width: 768px) and (min-width: 564px) {
    .content__logo {
        height: 208px;
    }
    .header__item--with-text {
        /* min-width: auto; */
    }
    .header__link-text {
        /* display: none; */
    }
} 
